name: CDK Deployment Tests
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: 'eu-central-1'
  CDK_TOOLING_ENV_FOLDER: cdk/tooling_environment
  CDK_MONITORED_ENV_FOLDER: cdk/monitored_environment
  STAGE_NAME: devcdk
  SETTING_FOLDER_NAME: "tests/deployment-tests/settings"
run-name: CDK Deployment Tests - Commit ${{ github.sha }}
on: 
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  cdk-deployment-cycle-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup Python Virtual Environment
        id: setup-venv
        uses: ./.github/actions/setup-venv

      - name: prepare CDK
        uses: ./.github/actions/cdk-prepare
        with:
          cdk-folder-name: ${{ env.CDK_TOOLING_ENV_FOLDER }}
          settings-folder-name: ${{ env.SETTING_FOLDER_NAME }}
          stage-name: ${{ env.STAGE_NAME }}
          region: ${{ env.AWS_DEFAULT_REGION }}          

      - name: deploy tooling env via CDK
        uses: ./.github/actions/cdk-deploy
        with:
          cdk-folder-name: ${{ env.CDK_TOOLING_ENV_FOLDER }}
          stage-name: ${{ env.STAGE_NAME }}

      - name: deploy monitoring env via CDK
        uses: ./.github/actions/cdk-deploy
        with:
          cdk-folder-name: ${{ env.CDK_MONITORED_ENV_FOLDER }}
          stage-name: ${{ env.STAGE_NAME }}

      - name: destroy monitoring env via CDK
        uses: ./.github/actions/cdk-destroy
        with:
          cdk-folder-name: ${{ env.CDK_MONITORED_ENV_FOLDER }}
          stage-name: ${{ env.STAGE_NAME }}
  
      - name: destroy tooling env via CDK
        uses: ./.github/actions/cdk-destroy
        with:
          cdk-folder-name: ${{ env.CDK_TOOLING_ENV_FOLDER }}
          stage-name: ${{ env.STAGE_NAME }}